body {
    margin: auto;
    padding: 20px;
    height: 450px;
    width: 450px;
    text-align: justify;
    background-color: #1F2937;
    color: white;
    text-align: center;
    border: 2px solid #2F3E53;
}

hr {
    color: #2F3E53;
    margin: 20px;
}
span {
    color: #4ADF86;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.line {
    color: red;
    text-decoration: line-through;
}
button {
    padding: 9px 17px 9px 15px;
    background-color: #4ADF86;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: large;
}

button:active {
    background-color: #2F3E53;
}

.input-class {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    color: #4ADF86;
    background-color: #1F2937;
    border-radius: 10px;
    /* border: 4px solid #2F3E53; */
}

#input-el1 {
    border-radius: 5px;
    border: none;
    background-color: #2F3E53;
    width: 150px;
    height: 29px;
    color: #ffffff;
    text-align: center;
}

#input-el2 {
    border-radius: 5px;
    border: none;
    background-color: #2F3E53;
    width: 150px;
    height: 29px;
    color: #ffffff;
    text-align: center;
}

footer {
    margin: 70px;
}